<br>
<div class="container">
  <div class="card">
    <h5 class="card-header">Librería Cervantes</h5>
    <div class="card-body">
      <p class="card-text">
        <strong>Reciba descuentos constantes en sus compras</strong>
      </p>
      <p class="card-text">
        Reciba un <strong>50%</strong> de descuento en el segundo libro, excepto si el libro es de <em>Educación</em>,
         por el que recibirá un <strong>20%</strong> sin importar la cantidad comprada.
      </p>
      <p class="card-text">
        Si el libro no está disponible lo recibirá a la brevedad según la distribución de éste, es decir, 
        si el distribuidor del libro es <em>Internacional</em> recibirá el libro en <strong>5 días</strong> hábiles,
        pero si es enviado por un distribuidor <em>Nacional</em> su libro estará disponible en <strong>3 días</strong> hábiles.
      </p>
      <p class="card-text">
        Al que madruga, Dios le ayuda; si compra una cantidad de libros que no tenemos disponible en tienda antes de las 9 AM
        el envío tardará un día menos, pues se contará el día en curso.
      </p>
    </div>
    <div class="card-footer text-center">
      TRM de hoy: <strong>$ 3.789,67</strong>
    </div>
  </div>
</div>
