<div class="row">
  <div
    class="col-xs-12 col-sm-6 col-lg-4"
    *ngFor="let libro of listaLibros | async"
  >
    <div class="card">
      <div class="card-body">
        <h2>{{ libro.titulo }}</h2>
        <span class="badge bg-warning text-dark">{{ libro.categoria }}</span>
        <span class="badge bg-info text-dark">{{ libro.distribucion }}</span>
        <p>
          <em>Quedan {{ libro.disponibles }} unidades disponibles</em>
        </p>
        <div class="text-end">
          <h5>{{ libro.precio | currency }}</h5>
        </div>
        <app-crear-compra [libroId] = libro.id></app-crear-compra>
      </div>
    </div>
  </div>
  <div *ngIf="!(listaLibros | async)?.length">
    <div id="vacio" class="alert alert-danger" role="alert">
      Aún no ha agregado ningún libro en el sistema
    </div>
  </div>
</div>
