<div class="container">
  <br />
  <h2>Registrar libros</h2>

  <form action="container" [formGroup]="libroForm" #registrarForm="ngForm">
    <div class="row">
      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo de la obra</label>
        <input
          validar
          type="text"
          class="form-control"
          id="titulo"
          name="titulo"
          formControlName="titulo"
          placeholder="Cien años de soledad"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 mb-3">
        <label for="categoria" class="form-label">Categoría</label>
        <select
          id="categoria"
          class="form-select"
          aria-label="Default select example"
          formControlName="categoria"
        >
          <option value="Literatura">Literatura</option>
          <option value="Biografico">Biografico</option>
          <option value="Ciencias">Ciencias</option>
          <option value="Educación">Educación</option>
          <option value="Histórico">Histórico</option>
        </select>
      </div>
      <div class="col-xs-12 col-md-6 mb-3">
        <label for="distribucion" class="form-label">Distribución</label>
        <select
          id="distribucion"
          class="form-select"
          aria-label="Default select example"
          formControlName="distribucion"
        >
          <option value="Nacional">Nacional</option>
          <option value="Internacional">Internacional</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 mb-3">
        <label for="cantidad" class="form-label">Libros disponibles</label>
        <input
          validar
          type="number"
          class="form-control"
          id="cantidad"
          name="disponibles"
          formControlName="disponibles"
          placeholder="5"
        />
      </div>
      <div class="col-xs-12 col-md-6 mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input
          validar
          type="number"
          class="form-control"
          id="precio"
          name="precio"
          formControlName="precio"
          placeholder="100.000"
        />
      </div>
    </div>
    <div class="d-grid gap-2">
      <button
        [disabled]="!registrarForm.form.valid"
        class="btn btn-dark"
        type="submit"
        (click)="onSubmit()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
