<form action="" [formGroup]="compraForm" #registrarForm="ngForm">
  <div class="input-group mb-3">
    <input
      validar
      id="cantidad"
      type="number"
      class="form-control"
      placeholder="Cantidad"
      formControlName="cantidad"
      aria-label="Recipient's username"
      aria-describedby="agregar_compra"
    />
    <button id="agregar_compra" [disabled]="!registrarForm.form.valid" class="btn btn-secondary" type="button" (click)="onSubmit()">
      Añadir
    </button>
  </div>
</form>
